<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Request</title>
    <%- include('./style') %>
  </head>

  <body>
    <div class="container">
      <img
        src="https://fast-poll.com/site/mail-assets/email-logo.png"
        alt="logo"
      />

      <h1>Hi <%= firstName %></h1>
      <h3>
        There was a request to change the password for your Fast Poll account.
      </h3>

      <p>
        If you did not make this request, you can ignore this email. Otherwise,
        please click the button below to change your password.
      </p>

      <p>The below link will expire in 10 mins</p>

      <a class="primary" href="<%= url %>">Change Password</a>
    </div>

    <footer>
      <a href="mailto:hello@fast-poll.com ">hello@fast-poll.com</a>
      <p>Copyright &copy; 2021 Fast Poll</p>
    </footer>
  </body>
</html>
